<section id="billboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <button class="prev slick-arrow">
                    <i class="icon icon-arrow-left"></i>
                </button>

                <div class="main-slider pattern-overlay">
                    <div class="slider-item">
                        <div class="banner-content">
                            <h2 class="banner-title">Cuộc sống hoang dã</h2>
                            <p>Một hành trình khám phá thế giới hoang dã đầy cảm hứng...</p>
                            <div class="btn-wrap">
                                <a href="#" class="btn btn-outline-accent btn-accent-arrow">Xem thêm<i class="icon icon-ns-arrow-right"></i></a>
                            </div>
                        </div>
                        <img src="~/images/main-banner1.jpg" alt="banner" class="banner-image">
                    </div>

                    <div class="slider-item">
                        <div class="banner-content">
                            <h2 class="banner-title">Những chú chim hạnh phúc</h2>
                            <p>Cuốn sách đưa bạn vào một thế giới thiên nhiên kỳ vĩ...</p>
                            <div class="btn-wrap">
                                <a href="#" class="btn btn-outline-accent btn-accent-arrow">Xem thêm<i class="icon icon-ns-arrow-right"></i></a>
                            </div>
                        </div>
                        <img src="~/images/main-banner2.jpg" alt="banner" class="banner-image">
                    </div>
                </div>

                <button class="next slick-arrow">
                    <i class="icon icon-arrow-right"></i>
                </button>

            </div>
        </div>
    </div>
</section>

<section id="client-holder" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="inner-content">
                <div class="logo-wrap">
                    <div class="grid">
                        <a href="#"><img src="~/images/client-image1.png" alt="client"></a>
                        <a href="#"><img src="~/images/client-image2.png" alt="client"></a>
                        <a href="#"><img src="~/images/client-image3.png" alt="client"></a>
                        <a href="#"><img src="~/images/client-image4.png" alt="client"></a>
                        <a href="#"><img src="~/images/client-image5.png" alt="client"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
