<section id="featured-books" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header text-center">
                    <div class="title">
                        <span>Một số sản phẩm nổi bật</span>
                    </div>
                    <h2 class="section-title">Sách Nổi Bật</h2>
                </div>

                <div class="product-list" data-aos="fade-up">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <img src="~/images/product-item1.jpg" alt="Sách" class="product-item img-fluid" />
                                    <button type="button" class="add-to-cart">Thêm vào giỏ</button>
                                </figure>
                                <figcaption>
                                    <h3>Cuộc sống đơn giản</h3>
                                    <span>Armor Ramsey</span>
                                    <div class="item-price">40.000 đ</div>
                                </figcaption>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <img src="~/images/product-item2.jpg" alt="Sách" class="product-item img-fluid" />
                                    <button type="button" class="add-to-cart">Thêm vào giỏ</button>
                                </figure>
                                <figcaption>
                                    <h3>Chuyến du hành sa mạc</h3>
                                    <span>Sanchit Howdy</span>
                                    <div class="item-price">38.000 đ</div>
                                </figcaption>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <img src="~/images/product-item3.jpg" alt="Sách" class="product-item img-fluid" />
                                    <button type="button" class="add-to-cart">Thêm vào giỏ</button>
                                </figure>
                                <figcaption>
                                    <h3>Vẻ đẹp của Scarlett</h3>
                                    <span>Arthur Doyle</span>
                                    <div class="item-price">45.000 đ</div>
                                </figcaption>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <img src="~/images/product-item4.jpg" alt="Sách" class="product-item img-fluid" />
                                    <button type="button" class="add-to-cart">Thêm vào giỏ</button>
                                </figure>
                                <figcaption>
                                    <h3>Ngày xưa ơi</h3>
                                    <span>Klien Marry</span>
                                    <div class="item-price">35.000 đ</div>
                                </figcaption>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-12 text-end">
                        <div class="btn-wrap">
                            <a href="#" class="btn-accent-arrow">Xem tất cả sản phẩm <i class="icon icon-ns-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
