<!-- 🔚 Footer -->
	<footer id="footer">
		<div class="container">
			<div class="row">

				<div class="col-md-4">

					<div class="footer-item">
						<div class="company-brand">
							<img src="~/images/main-logo.png" alt="logo" class="footer-logo">
							<p>BookSaw.com nhận đặt hàng trực tuyến và giao hàng tận nơi. KHÔNG hỗ trợ đặt mua và nhận hàng trực tiếp tại văn phòng cũng như tất cả Hệ Thống BookSawBookSaw trên toàn quốc.</p>
						</div>
					</div>

				</div>

				<div class="col-md-2">

					<div class="footer-menu">
						<h5>Giới thiệu</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="#">Tầm nhìn</a>
							</li>
							<li class="menu-item">
								<a href="#">Bài viết</a>
							</li>
							<li class="menu-item">
								<a href="#">Sự nghiệp</a>
							</li>
							<li class="menu-item">
								<a href="#">Hệ thống dịch vụ</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>Khám phá</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="#">Trang chủ</a>
							</li>
							<li class="menu-item">
								<a href="#">Sản phẩm</a>
							</li>
							<li class="menu-item">
								<a href="#">Tác giả</a>
							</li>
							<li class="menu-item">
								<a href="#">Thể loại</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>Tài khoản</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="#">Đăng nhập/Đăng ký</a>
							</li>
							<li class="menu-item">
								<a href="#">Chi tiết tài khoản</a>
							</li>
							<li class="menu-item">
								<a href="#">Lịch sử mua hàng</a>
							</li>
							<li class="menu-item">
								<a href="#">Theo dõi đơn hàng</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>Hỗ trợ</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="#">Trung tâm hỗ trợ</a>
							</li>
							<li class="menu-item">
								<a href="#">Báo cáo vấn đề</a>
							</li>
							<li class="menu-item">
								<a href="#">Đề xuất chỉnh sửa</a>
							</li>
							<li class="menu-item">
								<a href="#">Liên hệ chúng tôi</a>
							</li>
						</ul>
					</div>

				</div>

			</div>
			<!-- / row -->

		</div>
	</footer>

	<div id="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="copyright">
						<div class="row">

							<div class="col-md-6">
								<p>© 2025 - Bản quyền của Công Ty TNHH BOOKSAW <a>BOOKSAW.com</a></p>
							</div>

							<div class="col-md-6">
								<div class="social-links align-right">
									<ul>
										<li>
											<a href="#"><i class="icon icon-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="icon icon-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="icon icon-youtube-play"></i></a>
										</li>
										<li>
											<a href="#"><i class="icon icon-behance-square"></i></a>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div><!--grid-->

				</div><!--footer-bottom-content-->
			</div>
		</div>
	</div>