@* Views/Shared/_LatestArticles.cshtml *@

<section id="latest-blog" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>Đọc các bài viết của chúng tôi</span>
                    </div>
                    <h2 class="section-title">Bài Viết Mới Nhất</h2>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <article class="column" data-aos="fade-up">
                            <figure>
                                <a href="#" class="image-hvr-effect">
                                    <img src="~/images/post-img1.jpg" alt="post" class="post-image">
                                </a>
                            </figure>
                            <div class="post-item">
                                <div class="meta-date">30 Tháng 3, 2021</div>
                                <h3><a href="#">Đọc sách luôn mang lại những khoảnh khắc hạnh phúc</a></h3>
                                <div class="links-element">
                                    <div class="categories">truyền cảm hứng</div>
                                    <div class="social-links">
                                        <ul>
                                            <li><a href="#"><i class="icon icon-facebook"></i></a></li>
                                            <li><a href="#"><i class="icon icon-twitter"></i></a></li>
                                            <li><a href="#"><i class="icon icon-behance-square"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-4">
                        <article class="column" data-aos="fade-up" data-aos-delay="200">
                            <figure>
                                <a href="#" class="image-hvr-effect">
                                    <img src="~/images/post-img2.jpg" alt="post" class="post-image">
                                </a>
                            </figure>
                            <div class="post-item">
                                <div class="meta-date">29 Tháng 3, 2021</div>
                                <h3><a href="#">Khám phá thế giới qua từng trang sách</a></h3>
                                <div class="links-element">
                                    <div class="categories">truyền cảm hứng</div>
                                    <div class="social-links">
                                        <ul>
                                            <li><a href="#"><i class="icon icon-facebook"></i></a></li>
                                            <li><a href="#"><i class="icon icon-twitter"></i></a></li>
                                            <li><a href="#"><i class="icon icon-behance-square"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-4">
                        <article class="column" data-aos="fade-up" data-aos-delay="400">
                            <figure>
                                <a href="#" class="image-hvr-effect">
                                    <img src="~/images/post-img3.jpg" alt="post" class="post-image">
                                </a>
                            </figure>
                            <div class="post-item">
                                <div class="meta-date">27 Tháng 2, 2021</div>
                                <h3><a href="#">Sách – người bạn đồng hành trong cuộc sống</a></h3>
                                <div class="links-element">
                                    <div class="categories">truyền cảm hứng</div>
                                    <div class="social-links">
                                        <ul>
                                            <li><a href="#"><i class="icon icon-facebook"></i></a></li>
                                            <li><a href="#"><i class="icon icon-twitter"></i></a></li>
                                            <li><a href="#"><i class="icon icon-behance-square"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="row">
                    <div class="btn-wrap align-center">
                        <a href="#" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                            Xem tất cả bài viết <i class="icon icon-ns-arrow-right"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
