<section id="special-offer" class="bookshelf pb-5 mb-5">

    <div class="section-header align-center">
        <div class="title">
            <span>Đừng bỏ lỡ cơ hội của bạn</span>
        </div>
        <h2 class="section-title">Sách đang khuyến mãi</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="inner-content">
                <div class="product-list" data-aos="fade-up">
                    <div class="grid product-grid">

                        <div class="product-item">
                            <figure class="product-style">
                                <img src="~/images/product-item5.jpg" alt="Sách" class="product-item" />
                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                    Thêm vào giỏ
                                </button>
                            </figure>
                            <figcaption>
                                <h3>Cuộc sống yên bình</h3>
                                <span>Tác giả: Armor Ramsey</span>
                                <div class="item-price">
                                    <span class="prev-price">500.000₫</span> 400.000₫
                                </div>
                            </figcaption>
                        </div>

                        <div class="product-item">
                            <figure class="product-style">
                                <img src="~/images/product-item6.jpg" alt="Sách" class="product-item" />
                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                    Thêm vào giỏ
                                </button>
                            </figure>
                            <figcaption>
                                <h3>Chuyến du hành nơi sa mạc</h3>
                                <span>Tác giả: Sanchit Howdy</span>
                                <div class="item-price">
                                    <span class="prev-price">300.000₫</span> 380.000₫
                                </div>
                            </figcaption>
                        </div>

                        <div class="product-item">
                            <figure class="product-style">
                                <img src="~/images/product-item7.jpg" alt="Sách" class="product-item" />
                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                    Thêm vào giỏ
                                </button>
                            </figure>
                            <figcaption>
                                <h3>Vẻ đẹp Scarlett</h3>
                                <span>Tác giả: Arthur Doyle</span>
                                <div class="item-price">
                                    <span class="prev-price">350.000₫</span> 450.000₫
                                </div>
                            </figcaption>
                        </div>

                        <div class="product-item">
                            <figure class="product-style">
                                <img src="~/images/product-item8.jpg" alt="Sách" class="product-item" />
                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                    Thêm vào giỏ
                                </button>
                            </figure>
                            <figcaption>
                                <h3>Ngày xửa ngày xưa</h3>
                                <span>Tác giả: Klien Marry</span>
                                <div class="item-price">
                                    <span class="prev-price">250.000₫</span> 350.000₫
                                </div>
                            </figcaption>
                        </div>

                        <div class="product-item">
                            <figure class="product-style">
                                <img src="~/images/product-item2.jpg" alt="Sách" class="product-item" />
                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                    Thêm vào giỏ
                                </button>
                            </figure>
                            <figcaption>
                                <h3>Cuộc sống yên bình</h3>
                                <span>Tác giả: Armor Ramsey</span>
                                <div class="item-price">400.000₫</div>
                            </figcaption>
                        </div>

                    </div><!-- /.grid -->
                </div>
            </div><!-- /.inner-content -->
        </div>
    </div>
</section>
