<section id="popular-books" class="bookshelf py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>Một vài cuốn sách chất lượng</span>
                    </div>
                    <h2 class="section-title">Sách Phổ Biến</h2>
                </div>

                <ul class="tabs">
                    <li data-tab-target="#all-genre" class="active tab">Tất cả thể loại</li>
                    <li data-tab-target="#business" class="tab">Kinh doanh</li>
                    <li data-tab-target="#technology" class="tab">Công nghệ</li>
                    <li data-tab-target="#romantic" class="tab">Lãng mạn</li>
                    <li data-tab-target="#adventure" class="tab">Phiêu lưu</li>
                    <li data-tab-target="#fictional" class="tab">Hư cấu</li>
                </ul>

                <div class="tab-content">
                    <div id="all-genre" data-tab-content class="active">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="~/images/tab-item1.jpg" alt="Sách" class="product-item">
                                        <button type="button" class="add-to-cart">Thêm vào giỏ</button>
                                    </figure>
                                    <figcaption>
                                        <h3>Nhiếp ảnh chân dung</h3>
                                        <span>Tác giả: Adam Silber</span>
                                        <div class="item-price">400.000₫</div>
                                    </figcaption>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="~/images/tab-item2.jpg" alt="Sách" class="product-item">
                                        <button type="button" class="add-to-cart">Thêm vào giỏ</button>
                                    </figure>
                                    <figcaption>
                                        <h3>Ngày xửa ngày xưa</h3>
                                        <span>Tác giả: Klien Marry</span>
                                        <div class="item-price">350.000₫</div>
                                    </figcaption>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="~/images/tab-item3.jpg" alt="Sách" class="product-item">
                                        <button type="button" class="add-to-cart">Thêm vào giỏ</button>
                                    </figure>
                                    <figcaption>
                                        <h3>Bí quyết sống tối giản</h3>
                                        <span>Tác giả: Bratt Smith</span>
                                        <div class="item-price">400.000₫</div>
                                    </figcaption>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="~/images/tab-item4.jpg" alt="Sách" class="product-item">
                                        <button type="button" class="add-to-cart">Thêm vào giỏ</button>
                                    </figure>
                                    <figcaption>
                                        <h3>Cảm nhận từ bên ngoài</h3>
                                        <span>Tác giả: Nicole Wilson</span>
                                        <div class="item-price">400.000₫</div>
                                    </figcaption>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Thêm các sách khác tương tự như trên -->
                            <!-- Bạn có thể lặp lại phần trên hoặc thay nội dung sách khác -->
                        </div>
                    </div>

                    <div id="business" data-tab-content>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="~/images/tab-item2.jpg" alt="Sách" class="product-item">
                                        <button type="button" class="add-to-cart">Thêm vào giỏ</button>
                                    </figure>
                                    <figcaption>
                                        <h3>Khai sáng bình yên</h3>
                                        <span>Tác giả: Marmik Lama</span>
                                        <div class="item-price">400.000₫</div>
                                    </figcaption>
                                </div>
                            </div>

                            <!-- Các sách khác thuộc thể loại kinh doanh -->
                        </div>
                    </div>

                    <div id="technology" data-tab-content>
                        <div class="row">
                            <!-- Các sách thể loại công nghệ -->
                        </div>
                    </div>

                    <div id="romantic" data-tab-content>
                        <div class="row">
                            <!-- Các sách thể loại lãng mạn -->
                        </div>
                    </div>

                    <div id="adventure" data-tab-content>
                        <div class="row">
                            <!-- Các sách thể loại phiêu lưu -->
                        </div>
                    </div>

                    <div id="fictional" data-tab-content>
                        <div class="row">
                            <!-- Các sách thể loại hư cấu -->
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
