<section id="subscribe">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-8">
                <div class="row">

                    <div class="col-md-6">
                        <div class="title-element">
                            <h2 class="section-title divider">Đăng ký nhận bản tin</h2>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="subscribe-content" data-aos="fade-up">
                            <p>Hãy đăng ký để nhận thông tin mới nhất về sách, khuyến mãi và sự kiện từ nhà sách của chúng tôi.</p>
                            <form id="form">
                                <input type="email" name="email" placeholder="Nhập email của bạn tại đây" required>
                                <button class="btn-subscribe" type="submit">
                                    <span>Gửi</span>
                                    <i class="icon icon-send"></i>
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
