@model IEnumerable<QLNhaSach1.Models.Category>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách danh mục</h2>
<a asp-action="Create" class="btn btn-primary mb-2">Thêm danh mục</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tên danh mục</th>
            <th>Xem sách</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.categoryName</td>
                <td>
                    <a asp-action="BooksByCategory" asp-route-id="@c.CategoryId" class="btn btn-info btn-sm">
                        Xem sách
                    </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@c.CategoryId" class="btn btn-warning btn-sm">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@c.CategoryId" class="btn btn-danger btn-sm">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
